{% extends 'frontendapp/base.html' %}

{% load static %}


{% block title %}
    success
{% endblock title %}


{% block heading %}
    {{ success_message }}
{% endblock heading %}
    

{% block maincontent %}
  
    <div class="container">
            <table class="table mt-5 table-bordered">
                <tr>
                    <th><label for="">User Email</label></th>
                    <td>{{user.email}}</td>
                </tr>
                <tr>
                    <th><label for="">Username</label></th>
                    <td>{{user.username}}</td>
                </tr>
                <tr>
                    <th><label for="">Password</label></th>
                    <td>{{user.password}}</td>
                </tr>
                <tr>
                    <th><label for="">Contact No</label></th>
                    <td>{{user.contactNo}}</td>
                </tr>
                <tr>
                    <th><label for="">Government Id</label></th>
                    <td>{{user.govId}}</td>
                </tr>
                <tr>
                    <th><label for="">Address</label></th>
                    <td>{{user.address}}</td>
                </tr>
            </table>
    </div>

{% endblock maincontent %}

