{% extends 'frontendapp/base.html' %}

{% load static %}


{% block title %}
    Addhotel
{% endblock title %}


{% block heading %}
    Add New Hotel
{% endblock heading %}
    

{% block maincontent %}

<!-- Add New Hotel Start -->

        <div class="container card">
            <form action="" method="post" class="my-5" enctype="multipart/form-data" >
                {% csrf_token %}
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="hotelName">Hotel Name</label>
                        <input class="form-control" type="text" id="hotelName" name="hotelName">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="location">Hotel Location</label>
                        <input type="text" class="form-control" id="location" name="location">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 mt-3">
                        <label for="hotelType">Hotel Type</label>
                        <input type="text" class="form-control" id="hotelType" name="hotelType">
                    </div>
                    <div class="form-group col-md-6 mt-3">
                        <label for="rating">Hotel Rating</label>
                        <input type="text" class="form-control" id="rating" name="rating">
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label for="address">Hotel Address</label>
                    <input type="text" class="form-control" id="address" name="address">
                </div>
                <div class="form-group col-md-4 mt-3">
                    <label for="contact">Hotel Contact No.</label>
                    <input type="text" class="form-control" id="contact" name="contact">
                </div>
                <div class="mb-3 mt-3">
                    <label for="hotel_image" class="form-label">Upload Hotel Image</label>
                    <input class="form-control" type="file" id="hotel_image" name="hotel_image">                    
                </div>
                
                <button type="Submit" class="btn btn-dark mt-3 center">Submit</button>
            </form>
        </div>

<!-- Add New Hotel End -->

{% endblock maincontent %}