{% extends 'frontendapp/base.html' %}

{% load static %}


{% block title %}
    details
{% endblock title %}


{% block heading %}
    Hotel Details
{% endblock heading %}
    

{% block maincontent %}
   
    <div class="container my-5 ">
        <table class="table border">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Hotel Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Type</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Address</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Image</th>
                    <th class="text-center" scope="col">Category</th>
                    {% if request.session.custemail is None and request.session.adminemail is not None %}
                    <th class="text-center" scope="col" colspan="2">Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                
                {% for hotel in hotels %}
                <tr>
                    <th scope="row">{{hotel.hotelId}}</th>
                    <td>{{hotel.hotelName}}</td>
                    <td>{{hotel.location}}</td>
                    <td>{{hotel.hotelType}}</td>
                    <td>{{hotel.rating}}</td>
                    <td>{{hotel.contact}}</td>
                    <td>{{hotel.address}}</td>
                    <td>
                        {% if hotel.hotel_image %}
                            <img src="{{ hotel.hotel_image.url }}" alt="{{ hotel.hotelName }}" style="width: 100px; height: auto;">
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                    </td>
                    <td><a href="clist/{{ hotel.hotelId}}" class="btn btn-info">Details</a></td>
                    {% if request.session.custemail is None and request.session.adminemail is not None %}
                    <td><a href="edit/{{ hotel.hotelId }}" class="btn btn-primary">Update</a></td>
                    <td><a href="delete/{{ hotel.hotelId }}" class="btn btn-danger">Delete</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

            
    </div>

{% endblock maincontent %}
