{% extends 'frontendapp/base.html' %}

{% load static %}


{% block title %}
    success
{% endblock title %}


{% block heading %}
    {{ success_message }}
{% endblock heading %}
    

{% block maincontent %}
   
    <div class="container">
            <table class="table mt-5 table-bordered">
                <tr>
                    <th><label for="">hotel name</label></th>
                    <td>{{hotel.hotelName}}</td>
                </tr>
                <tr>
                    <th><label for="">Location</label></th>
                    <td>{{hotel.location}}</td>
                </tr>
                <tr>
                    <th><label for="">Hotel Type</label></th>
                    <td>{{hotel.hotelType}}</td>
                </tr>
                <tr>
                    <th><label for="">Rating</label></th>
                    <td>{{hotel.rating}}</td>
                </tr>
                <tr>
                    <th><label for="">Address</label></th>
                    <td>{{hotel.address}}</td>
                </tr>
                <tr>
                    <th><label for="">Contact</label></th>
                    <td>{{hotel.contact}}</td>
                </tr>
                <tr>
                    <th><label for="">hotel Image</label></th>
                    <td><img src="{{ hotel.hotel_image.url }}" alt="{{ hotel.hotelName }}" style="width: 100px; height: auto;"></td>
                </tr>
            </table>
    </div>

{% endblock maincontent %}
