{% extends 'frontendapp/base.html' %}

{% load static %}


{% block title %}
    addbooking
{% endblock title %}


{% block heading %}
    Add Booking
{% endblock heading %}
    

{% block maincontent %}
  
    <div class="container">
        <form action="" class="my-5" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" type="text" id="email" value="example@gmail.com" name="email" readonly>
            </div>
            <div class="row my-3">
                <div class="form-group col-md-6">
                    <label for="room_category">Room Category</label>
                    <input class="form-control" type="text" name="room_category" value="{{cat_data.roomType}}" id="room_category" readonly>
                </div>
                <div class="form-group col-md-6">
                    <label for="roomType">Price</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">₹</span>
                        </div>
                        <input type="text" class="form-control" id="price_per_room" value="{{cat_data.price_per_room}}" name="price_per_room" readonly>
                        <div class="input-group-append">
                            <span class="input-group-text">per room</span>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="row mb-3">
                <div class="form-group col-md-6">
                    <label for="no_of_rooms">No of Rooms</label>
                    <input type="number" class="form-control" id="no_of_rooms" name="no_of_rooms">
                </div>
                <div class="form-group col-md-6">
                    <label for="no_of_people">No of Peoples</label>
                    <input type="number" class="form-control" id="no_of_people" name="no_of_people">
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group col-md-6">
                    <label for="check_in">Check-In Date</label>
                    <input type="date" class="form-control" id="check_in" name="check_in">
                </div>
                <div class="form-group col-md-6">
                    <label for="check_out">Check-Out Date</label>
                    <input type="date" class="form-control" id="check_out" name="check_out">
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group col-md-6">
                    <label for="total_price">Total Price</label>
                    <input type="text" class="form-control" id="total_price" name="total_price">
                </div>
            </div>
            
            <button type="Submit" class="btn btn-dark mt-3">Submit</button>

        </form>
    </div>
    
{% endblock maincontent %}


{% block script %}
    
    <script src="{% static 'bookingapp/js/bookingscript.js' %}"></script>

{% endblock script %}
