{% extends 'frontendapp/base.html' %}

{% load static %}


{% block title %}
    bookinglist
{% endblock title %}


{% block heading %}
    Booking List
{% endblock heading %}
    

{% block maincontent %}
   
    <div class="container">
        <h1 class="text-center">Booking List</h1>
        <table class="table border">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Booking ID</th>
                    <th scope="col">Hotel Name</th>
                    <th scope="col">Room Type</th>
                    <th scope="col">No. of Rooms</th>
                    <th scope="col">No. of People</th>
                    <th scope="col">Check-In Date</th>
                    <th scope="col">Check-Out Date</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ booking.hotel.hotelName }}</td>
                    <td>{{ booking.room_category.roomType }}</td>
                    <td>{{ booking.no_of_rooms }}</td>
                    <td>{{ booking.no_of_people }}</td>
                    <td>{{ booking.check_in }}</td>
                    <td>{{ booking.check_out }}</td>
                    <td>₹{{ booking.total_price }}</td>
                    <td>
                        <a href="{% url 'deletebooking' booking.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'checkout' %}" class="btn btn-success btn-sm">Checkout</a>
    </div>

{% endblock maincontent %}
